@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html{
  background-color: black !important;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black !important;
}
.hero-container h2{
  font-size: 20px !important;
}
a {
  color: #DAA520;
  text-decoration: none;
}

a:hover {
  color: #DAA520;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alert {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #DAA520;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #DAA520;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #DAA520;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 41, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 14px;
  color: #333333;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #DAA520;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/minimalist.jpeg") top right;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.80);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  /* font-family: "Satisfy", serif; */
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll i {
  font-size: 30px;
}

#hero .btn-scroll:hover {
  color: #DAA520;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }

  #hero h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}
.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding-bottom: 0;
  color: #eef0f2;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  top: 80px;
  color: rgb(34, 33, 33);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-top: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f4f5f6;
  min-height: 40px;
  margin-top: 78px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li+li {
  padding-left: 10px;
}
.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about p{
  color: #999999;
  font-size: 19px;
}
.about .content h4 {
  color: #999999;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 30px;
}
.about h3 {
  font-weight: 700;
  font-size: 26px;
  color: #999999;
  text-transform: uppercase;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
  font-size: 18px;
  color: #dddddd;
  font-family: "Raleway", sans-serif;
}
.about .content ul span {
  margin-right: 10px;
  font-size: 18px;
  color: #999999;
  font-family: "Raleway", sans-serif;
}
.about .content ul i {
  font-size: 20px;
  margin-right: 5px;
  color: #DAA520;
  line-height: 0;
}
.about .content .myskills ul i {
  font-size: 40px;
  margin-right: 5px;
  color: #DAA520;
  line-height: 0;
  padding-right: 10px;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .count-box {
  width: 100%;
}
.about .content .count-box i {
  display: block;
  font-size: 36px;
  color: #DAA520;
  float: left;
  line-height: 0;
}
.about .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #999999;
  margin-left: 50px;
}
.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: whitesmoke;
}
.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #999999;
  font-size: 15px;
  font-family: "Satisfy", serif;
  transition: ease-in-out 0.3s;
}
.about .content .count-box a:hover {
  color: #82909c;
}
.about .skills-content {
  margin-top: 30px;
}
.about .skills-content .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.about .skills-content .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #3b434a;
}
.about .progress .skill {
  color: white !important;
  font-size: 14px;
}
.about .progress .val {
  float: right;
  font-style: normal;
  color: white;
}
.about .skills-content .progress-bar-wrap {
  background: #e6e8eb;
}
.about .skills-content .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #DAA520;
}
.about .myskills ul li{
  color: #DAA520;
  margin-bottom: 45px !important;
}
.about .myskills ul .fa-arrow-right{
  color: #999999 !important;
  font-size: 25px !important;
}


/*--------------------------------------------------------------
# My Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: black;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #DAA520;
}
.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  border: 2px solid #DAA520;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #DAA520;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title {
  color: #DAA520;
  transition: 0.3s;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  background-color: #DAA520;
}
.services .icon-box:hover .title{
  color: white;
}
.services .icon-box:hover .icon i{
  color: white;
}
.services .icon-box:hover .icon{
  border: 2px solid white;
}
/*--------------------------------------------------------------
# My Services 
--------------------------------------------------------------*/

.myinner3{
  overflow: hidden;
}
@media screen and (max-width : 1920px){
  .myinner3 img{
    width: 100%;
    height: 42vh;
  }
}
@media screen and (max-width : 800px){
  .myinner3 img{
    width: 100%;
    height: auto;
  }
}
/* .myinner3:hover img{
  transform: scale(1.2);
} */
.imagecontainer {
  position: relative; 
}
.imagecard:hover {
  background: #DAA520;
}
.imagecard {
  border-radius: 8px;
}
.image {
  display: block;
  width: fit-content;
}
.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.imagecontainer .image{
  opacity: 0.6;
}
.imagecontainer:hover .image {
  transition: all 0.3s ease-in-out;
  opacity: 0.1;
}
.imagecontainer:hover .middle {
  opacity: 8;
}
.imagetext i{
  text-align: center !important;
}
.imagetext a{
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}


/* Interests */
.interests p{
  color: #999999;
  font-size: 19px;
}

/*--------------------------------------------------------------
# Contact 
--------------------------------------------------------------*/
.contact p{
  font-size: 25px;
  color: #999999;
  margin-top: 15px;
}
.contact .section-title p{
  font-size: 25px;
  color: #999999;
  margin-top: 50px;
}
.contact .info-box {
  color: #444444;
  text-align: center;
  border: 1px solid white;  
  padding: 20px 0 30px 0;
}
.contact .info-box i.bx {
  font-size: 20px;
  color: #DAA520;
  border-radius: 50%;
  padding: 10px;
  background: white;
}
.contact .info-box h3 {
  font-size: 20px;
  color: whitesmoke;
  font-weight: 700;
  margin: 15px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
  color: #999999;
}
.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.contact .social-links a {
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid #dde1e4;
}
.contact .social-links a:hover {
  color: white;
  border-color: #DAA520;
  background: #DAA520;
}
.contact .php-email-form {
  padding: 23px;
  border: 1px solid whitesmoke;  
}
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #DAA520;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
  background-color: #DAA520;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #DAA520;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
  margin-top: 15px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #DAA520;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer1 .social-links a {
  font-size: 30px;
  display: inline-block;
  background: #DAA520;
  color: #fff;
  line-height: 1;
  padding: 12px 0;
  margin-right: 4px;
  margin-bottom: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.footer1 .social-links a:hover {
  background: #DAA520;
  color: #fff;
  text-decoration: none;
}
.footer1::before {    
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.80);
}
.footer1 {
  background: url("../img/minimalist.jpeg") top center no-repeat;
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
} 
.footer11{
  width: 100%;
  height: fit-content;
  text-align: center;
}
.footer1 h3{
  font-size: 50px;
  line-height: 90px;
  color: white;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
} 
.footer1 p {
  font-size: 20px;
  padding: 0;
  color: white;
  position: relative;
  margin: 0 0 40px 0;
}
.footer2 {
  background: url("../img/minimalist.jpeg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 70px 0;
  position: relative;
}
.footer2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.80);
}
.footer2 h3 {
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  padding: 0;
  margin-bottom: 55px;
}
.footer2 p {
  font-size: 22px;
  padding: 0;
  margin: 0 0 40px 0;
}
.footer2 .mynumber {
  font-size: 15px;
  padding: 0;
  margin: 0 0 40px 0;
}
.footer2 .social-links a {
  font-size: 30px;
  display: inline-block;
  background: #DAA520;
  color: #fff;
  line-height: 1;
  padding: 14px 0;
  margin-right: 4px;
  margin-bottom: 20px;
  border-radius: 50%;
  text-align: center;
  width: 56px;
  height: 56px;
  transition: 0.3s;
}
.footer2 .social-links a:hover {
  background: #DAA520;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width : 1920px){
  .footer1{
    display: block;
  }
  .footer2{
    display: none;
  }
  .footer1 .container {
    position: relative;
  }
}
@media screen and (max-width : 906px){
  .footer1{
    display: none;
  }
  .footer2{
    display: block;
  }
  .footer2 .container {
    position: relative;
  }
}










.feedback{
  max-height: 50vh;
  background-image: url(/sandbox/img/hero-bg.jpg);
}
.mycarousel h4{
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
}
.mycarousel h5{
  color: #555555;
  font-weight: 350;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 25px;
}
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
.carousel .carousel-indicators button {
 width: 10px;
 height: 10px;
 border-radius: 100%;
 background-color: #a52b2a;
}

